<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <h3>password Resset Reqest</h3>
    <p>Hi <b>{{name}}, </b></p>
    <p>It looks you need a little help with your password We're on it </p>
    <p>If this was you, please reset your password by clicking on 
        <a href="{{link}}">Reset Password</a>
    </p>
    <p>If you didn't request for this, simply ignore. Nothing will change in your account settings, an your account will remain secure</p>
    <p>Be aware that this link is only valid for the next 15 minutes</p>
</body>
</html>